<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.category.model.mapper.CategoryMapper">

    <resultMap type="com.ohgiraffers.category.model.dto.CategoryDTO" id="categoryResultMap">
        <id property="code" column="CATEGORY_CODE"/>
        <result property="name" column="CATEGORY_NAME"/>
        <result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
    </resultMap>

    <select id="selectAllCategory" resultMap="categoryResultMap">
        SELECT
               CATEGORY_CODE
             , CATEGORY_NAME
             , REF_CATEGORY_CODE
          FROM TBL_CATEGORY
         ORDER BY CATEGORY_CODE
    </select>

    <select id="selectCategoryByCode" parameterType="_int" resultMap="categoryResultMap">
        SELECT
               CATEGORY_CODE
             , CATEGORY_NAME
             , REF_CATEGORY_CODE
          FROM TBL_CATEGORY
         WHERE CATEGORY_CODE = #{ code }
    </select>

    <insert id="insertCategory" parameterType="com.ohgiraffers.category.model.dto.CategoryDTO">
        INSERT
          INTO TBL_CATEGORY
        (
          CATEGORY_CODE
        , CATEGORY_NAME
        , REF_CATEGORY_CODE
        )
        VALUES
        (
          SEQ_CATEGORY_CODE.NEXTVAL
        , #{ name }
        , #{ refCategoryCode }
        )
    </insert>

    <update id="updateCategory" parameterType="com.ohgiraffers.category.model.dto.CategoryDTO">
        UPDATE
               TBL_CATEGORY
           SET CATEGORY_NAME = #{ name }
             , REF_CATEGORY_CODE = #{ refCategoryCode }
         WHERE CATEGORY_CODE = #{ code }
    </update>

    <delete id="deleteCategory" parameterType="_int">
        DELETE
               FROM TBL_CATEGORY
         WHERE CATEGORY_CODE = #{ code }
    </delete>
</mapper>